<h2 mat-dialog-title>Loiter</h2>
<mat-dialog-content>
  <div>
    <mat-radio-group [(ngModel)]="direction">
      <label>Direction: </label>
      <mat-radio-button value="left">Left</mat-radio-button>
      <mat-radio-button value="right">Right</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Radius (m)</mat-label>
      <input matInput type="number" [(ngModel)]="radius">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>