.grid {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    width: 100%;
}

.container {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 10px;

    h1 {
        font-size: 70px;
    }
}