<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Latitude (deg)</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Longitude (deg)</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Size (m)</mat-label>
    <input matInput type="number">
  </mat-form-field>
</form>
<button mat-button>Download</button>