<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <button mat-button [routerLink]="['/config/connect']">Connect</button>
        <br>
        <button mat-button [routerLink]="['/config/parameters']">Parameters</button>
        <br>
        <button mat-button [routerLink]="['/config/calibration']">Calibration</button>
        <br>
        <button mat-button [routerLink]="['/config/logs']">Flight Logs</button>
        <br>
        <button mat-button [routerLink]="['/config/download-tiles']">Download Tiles</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>